html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    background-color: whitesmoke;
}
.card img {
    width:50px;
    height: 200px;
}

em {
    color: slategray;
}

.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: rosybrown;
    font-family: Tahoma;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.entry-title {
    font-size: 80px;
    font-family: "Comic Sans MS";
    color: dodgerblue;
}

article p {
    font-family: Tahoma;
    padding-left: 150px;
    padding-right: 150px;
    font-size: large;
}

h1 {
    font-size: 250%;
    text-align: center;
}

